**/.DS_Store
**/*.map
**/.codee/**
../.codee/**
../../.codee/**
../**
../../**
**/node_modules/**
**/src/**
**/tsconfig.json
**/packages/**
**/apps/**
node_modules/@codee/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/dist/**
webview-ui/tsconfig.json
webview-ui/esbuild.config.cjs
!dist/**
!resources/**
!node_modules/keytar/**
!node_modules/@journeyapps/sqlcipher/**
!node_modules/@mapbox/node-pre-gyp/**
